In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set dafault parameters
plt.rcParams['axes.titlesize'] = 20
plt.rcParams["figure.titlesize"] = 19
plt.rcParams['axes.labelsize'] = 16
plt.rcParams["figure.figsize"] = (10,7)
plt.rcParams["xtick.labelsize"] = 14
plt.rcParams["ytick.labelsize"] = 14

In [4]:
# Import the data and take a look
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head().T

,0,1,2,3,4
id,9046,51676,31112,60182,1665
gender,Male,Female,Male,Female,Female
age,67,61,80,49,79
hypertension,0,0,0,0,1
heart_disease,1,0,1,0,0
ever_married,Yes,Yes,Yes,Yes,Yes
work_type,Private,Self-employed,Private,Private,Self-employed
Residence_type,Urban,Rural,Rural,Urban,Rural
avg_glucose_level,228.69,202.21,105.92,171.23,174.12
bmi,36.6,NaN,32.5,34.4,24
smoking_status,formerly smoked,never smoked,never smoked,smokes,never smoked
stroke,1,1,1,1,1

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5109 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5109 non-null   int64
 1   gender             5109 non-null   object
 2   age                5109 non-null   float64
 3   hypertension       5109 non-null   int64
 4   heart_disease      5109 non-null   int64
 5   ever_married       5109 non-null   object
 6   work_type          5109 non-null   object
 7   Residence_type     5109 non-null   object
 8   avg_glucose_level  5109 non-null   float64
 9   bmi                5109 non-null   float64
 10  smoking_status     5109 non-null   object
 11  stroke             5109 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 678.9+ KB

In [79]:
# Lets see the body mass index mean and std grouped by gender
df_gb = df.groupby(['gender'])
df_agg = df_gb.aggregate({'bmi':['mean','std']})
df_agg.columns = ['__'.join(col).strip() for col in df_agg.columns.values]

In [80]:
df_agg

        bmi__mean  bmi__std
gender
Female  29.065758  7.978270
Male    28.647936  7.278566

In [19]:
df['gender'].value_counts()

Female    2994
Male      2115
Name: gender, dtype: int64

In [16]:
# Drop row with gender = 'Other' 
df.drop(index=df[df['gender'].isin(['Other'])].index,inplace=True)

In [75]:
# Indexes of Female nan bmi
mask_female_bmi_nan = (df['bmi'].isna()) & (df['gender'] == 'Female')
index_female_bmi_nan = df[mask_female_bmi_nan].index
# Change those indexes for Female bmi mean
df.loc[index_female_bmi_nan,'bmi'] = df_agg.loc['Female','bmi__mean']

In [76]:
# Indexes of male nan bmi
mask_male_bmi_nan = (df['bmi'].isna()) & (df['gender'] == 'Male')
index_male_bmi_nan = df[mask_male_bmi_nan].index
# Change those indexes for male bmi mean
df.loc[index_male_bmi_nan,'bmi'] = df_agg.loc['Male','bmi__mean']

In [81]:
df['stroke'].value_counts()

0    4860
1     249
Name: stroke, dtype: int64